.header {
  padding: 0;
  height: 40px !important;
  background: #EDF2FC;
  margin: 0 0 10px 0;
  .breadcrumb 
  {
    margin: 10px 0 0 10px;
  }
}
.main {
  padding: 0;
}

.footer {
  padding: 0;
  height: 40px !important;
}