.header {
  padding: 0;
  height: 40px !important;
  background: #EDF2FC;
  margin: 0 0 10px 0;
  .breadcrumb 
  {
    margin: 10px 0 0 10px;
  }
}
.main {
  padding: 0;
}

.footer {
  padding: 10px 0;
  height: 40px !important;
}

.searchCriteriaForm {
  .el-row {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-form-item {
    margin-bottom: 4px;
    margin-right: 4px;
  }
  .filterText {
    width: 240px;
    margin-right: 12px;
  }
}

.el-row {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.el-table td {
  padding: 0;
}

.el-table .cell{
  line-height: 32px;
}
